.view-module .mod-title {
    font-weight: bold;
}

.view-module .padding-field-bottom {
    padding-bottom: 10px;
}
 

 
.view-module .bold {
    font-weight: bold !important;
}

.view-module input[type="text"], .view-module input[type="password"] {
    border: 1px solid #333 !important;
    border-radius: 0px !important;
    font-weight: bold !important;
}

.view-module .mod-cell {
    width: 500px;
}

.view-module .mod-blank {
    width: calc((100% - 500px)/2);
}