.md-login .mod-box {
    display: table;
    width: 100%;
    height: 100%;
}

.md-login .bold {
    font-weight: bold !important;
}

.md-login .mod-box .padding-field-bottom {
    padding-bottom: 10px;
}

.md-login .mod-box .col-kit {
    float: left;
}

.md-login .mod-body {
    vertical-align: middle;
    text-align: center;
}

.md-login .mod-panel {
    max-width: 320px;
    display: inline-block;
    text-align: left;
}

.md-login .mod-box .col-title {
    float: left;
    padding: 2px 7px;
    width: 83px;
    overflow: hidden;
}

.md-login .mod-box .col-kit input {
    border: 1px solid #333;
    border-radius: 0px;
    width: 100%;
    font-weight: bold !important;
}

.md-login .mod-blank, .md-login .mod-body {
    display: table-cell;
}

body.pc .md-login .mod-blank {
}


body.tablet .md-login .mod-blank {
}

body.tablet .md-login .mod-body {
}

body.mobile .md-login .mod-blank {
}

body.mobile .md-login .mod-body {
}
