<!-- begin module -->
<div class="mod-box" id="mod-login" style="display:none;">
    <div class="mod-blank"></div>
    <div class="panel-body mod-body">
        <div class="mod-panel">
            <div class="row padding-field-bottom">
                <div class="dropdown">
                    <input type="hidden" ng-model="user.type" />
                    <button class="bold btn btn-default dropdown-toggle" type="button" data-toggle="dropdown" ng-bind-html-unsafe="setTypeInit(user.type)">
                    </button>
                    <ul class="dropdown-menu">
                        <li ng-repeat="it in typeUsers" ng-class="{active : isSelectType(it)}">
                            <a class="bold" href="javascript:void(0);" ng-click="changeType(it)">{{ it }}</a>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="row padding-field-bottom" ng-show="user.type == 'Public'">
                <div class="col-title"><span class="bold label-title">{{ label.Res_0000_01_01 }}</span></div>
                <div class="col-kit" ng-kit-text="userName_textbox">
                </div>
            </div>
            <div class="row padding-field-bottom">
                <div class="col-title"><span class="bold label-title">{{ label.Res_0000_01_02 }}</span></div>
                <div class="col-kit" ng-kit-pass="password_textbox">
                </div>
            </div>
            <div class="row _align-right">
                <button id="ui-btn-login" ng-click="login()" class="bold btn _btn-webui _btn-width">login</button>
            </div>
        </div>
    </div>
    <div class="mod-blank"></div>
</div>
<!-- end module -->
