<!-- begin module -->
<div class="container _container">
    <div class="panel-group">
        <div class="panel panel-default fix-body">
            <div class="panel-heading _bg-white _border-bottom">
                <span class="label-title mod-title bold">{{ label.Res_0706_01 }}
                </span>
            </div>
            <div class="panel-body">

                <div class="mod-table">
                    <div class="mod-blank"></div>
                    <div class="mod-cell">
                        <div class="row padding-field-bottom">
                            <div class="col-sm-5"><span class="bold label-title aright">{{ label.Res_0706_01_01 }}</span></div>
                            <div class="col-sm-2" ng-kit-text="time_logout_textbox"></div>
                            <div class="col-sm-5"><span class="bold label-title">{{ label.Res_0706_01_02 }}</span></div>
                        </div> 
                    </div>
                    <div class="mod-blank"></div>
                </div>
                
            </div>
        </div>
        <div class="panel _align-right fix-footer">
            <button ng-click="submit()" class="btn _btn-webui _btn-width">OK</button>
            <button ng-click="cancel()" class="btn btn-default _btn-width">Cancel</button>
        </div>
    </div>
</div>
<!-- end module -->
