body {
    display: table !important;
    flex: none !important;
}

#content {
    display: table-cell !important;
    padding-top: 55px !important;
    flex: none !important;
}

#menu-panel {
    display: table-cell !important;
    padding-top: 45px !important;
}
