html {
    margin: 0;
    padding: 0;
    height: 100%;
    width: 100%;
}

body {
    margin: 0;
    padding: 0;
    background-color: #fff; 
    min-width: 400px;
    overflow: hidden;
}

#page-app {
    display: flex; 
    position: fixed;
    top: 0; 
    left: 0;
    right: 0;
    bottom: 0;
    min-width: 400px;
    overflow-x: auto;
    overflow-y: hidden;
    padding: 45px 0 0 0px;
    z-index: -1;
}

#header {
}

#footer {
    clear: both;
    float: left;
    width: 100%;
}

#menu-panel {
    position: relative;
    background-color: #000; 
    display: flex; 
    flex-direction: row; 
    align-self: stretch;
    min-width: 200px;
    max-width: 418px;
    border: 0px;
    margin-top: 0;
    overflow-x: hidden;
    height: 100%; 
    vertical-align: top;
    padding: 0; 
    overflow-y: auto;
}

#content {
    position: relative;
    background-color: #fff;
    flex: 1;
    min-width: 401px;
    padding: 0px; 
}

#box-module {
    position: relative;
    display: flex !important;
    padding: 10px; 
    flex: 1;
}

#view-module {
    position: relative;
    display: inline-block;
    text-align: left;
}

body.pc #view-module, body.tablet #view-module {
    width: 100%;
}

body.mobile #view-module {
    width: calc(100% - 40px);
}

#menu_title {
    font-size: 16px;
    font-weight: normal;
    line-height: 16px;
    margin: 0px;
    padding: 10px 0;
}

.padding-none {
    padding: 0px !important;
}

.label-title {
    text-align: left;
}

/*****************************************/

.navbar-inverse {
    background-color: #000;
    border-radius: 0px;
    height: 45px;
}

.navbar {
    margin-bottom: 0px;
    min-height: 45px;
    display: inline-flex;
}

.logoImg {
    height: 40px;
    width: 104px;
}

.navbar-brand {
    height: 45px;
    width: 200px;
    padding: 0px 48px;
}

.navbar-right {
    height: 45px;
    width: 200px;
    padding: 10px 86px;
    color: #fff;
}

span.glyphicon.glyphicon-search {
    font-size: 25px;
}

.navbar-text {
    height: 45px;
    width: calc(100% - 400px);
    margin: 0px;
    text-align: center;
    padding: 13px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

.glyphicon-search:hover {
    color: #fff !important;
}

.navbar-inverse .navbar-text {
    color: #fff;
}

@media only screen and (max-width: 400px) {
    .logoImg {
        width: 60px;
    }

    .navbar-brand {
        width: 20%;
        padding: 0px 10px;
    }

    .navbar-right {
        width: 20%;
        padding: 0px;
        padding: 5px 10px;
    }

    .navbar-text {
        width: 60%;
    }
}

/*****************************/

body#false #menu-panel {
    display: none !important;
}

body#false #header {
    display: none !important;
}

body#false #content {
    min-width: 0 !important;
}

.mod-table {
    display: table;
    height: 100%;
    width: 100%;
}

.mod-cell {
    display: table-cell;
    vertical-align: top;
}

.mod-blank {
    display: table-cell;
    height: 100%;
}

.view-module .mod-cell .label-title {
    font-size: 13px;
}
