
#menu-panel a , #menu-panel .active a {
    /*text-decoration: underline;*/
    text-decoration:none;
}

.menu-nav {
    background-color: #000;
    padding: 0px;
    margin: 0px;
    width: 200px;
    border: 0px solid #fff;
    border-right: 1px solid #fff;
    border-top: 1px solid #fff;
}

    .menu-nav li {
        border-bottom: 1px solid #fff;
        list-style: none;
        margin: 0px;
        width: 200px;
        border-left: 0px solid #fff;
        border-top: 0px solid #fff !important;
    }

        .menu-nav li a {
            color: #fff;
            height: 40px;
            padding: 9px 0 0 29px;
            display: block;
            width: 100%;
        }

#menu-sub .menu-nav {
    height: auto;
    border-left: 1px solid #fff;
    margin-left: -1px;
}


#menu-sub li.active, #menu-main li.active, .menu-active {
    background-color: rgba(255,255,255,0.2);
}

#menu-sub li a i {
    color: #fff !important;
    width: 29px;
    display: block;
    height: 40px;
    float: left;
    line-height: 33px;
}

#menu-sub {
    display: none;
}

    #menu-sub .menu-nav li.nolast {
        border-left: none;
        text-align: left;
        display: table;
    }

        #menu-sub .menu-nav li.nolast a {
            color: #fff;
            height: 40px;
            padding: 0 7px 0 29px;
            display: table-cell;
            text-align: left;
            line-height: 15px;
            vertical-align: middle;
            cursor: pointer;
        }

    #menu-sub .menu-nav li.haslast {
        display: inline-block;
    }

        #menu-sub .menu-nav li.haslast a {
            color: #fff;
            height: 40px;
            padding: 0 0 0 0;
            display: block;
            text-align: left;
            line-height: 40px;
            vertical-align: middle;
            cursor: pointer;
        }

    #menu-sub .menu-nav li.nolast a i, #menu-sub .menu-nav li.nolast ul {
        display: none !important;
    }

.menu-li-parent-back {
    background-color: #094c78 !important;
    border-right: 1px solid #fff;
}

.menu-last {
    /*display: none;*/
    width: calc(100% - 2px);
    background-color: #000;
    padding: 0px;
}

    .menu-last li:first-child {
        border-top: 1px solid #fff !important;
        height: 42px;
    }


    .menu-last li {
        display: inline-block !important;
        width: 100%;
        text-align: left !important;
        color: #fff;
        padding: 9px 0 0 42px !important;
        height: 41px;
        cursor: pointer;
    }

        .menu-last li:last-of-type {
            border-bottom: none !important;
            height: 40px;
        }

        .menu-last li.active {
            /*text-decoration: underline;*/
            text-decoration:none;
        }

/**************/
body.pc[data-menuchild]:not([data-menuchild=""]) #menu-main {
    display: block !important;
}

body.pc[data-menuchild]:not([data-menuchild=""]) #menu-sub {
    display: block;
}

    body.pc[data-menuchild]:not([data-menuchild=""]) #menu-sub .menu-li-parent-back {
        display: none !important;
    }

body.pc[data-menuchild=""] #menu-sub {
    display: none !important;
}

body.pc[data-menuchildlast]:not([data-menuchildlast=""]) ul.menu-last {
    display: block !important;
}

/************************/


/************************/

body.tablet #menu-panel[data-main-back="true"] #menu-main {
    display: block !important;
}

body.tablet #menu-panel[data-main-back="true"] #menu-sub {
    display: none !important;
}

body.mobile #menu-panel[data-main-back="true"] #menu-main {
    display: block !important;
}

body.mobile #menu-panel[data-main-back="true"] #menu-sub {
    display: none !important;
}

/************************/

body.tablet[data-menuchild]:not([data-menuchild=""]) #menu-main {
    display: none;
}

body.tablet[data-menuchild]:not([data-menuchild=""]) #menu-panel {
    width: 200px;
}

body.tablet[data-menuchild]:not([data-menuchild=""]) #menu-sub {
    display: block;
}

body.mobile[data-menuchild]:not([data-menuchild=""]) #menu-main {
    display: none;
}

body.mobile[data-menuchild]:not([data-menuchild=""]) #menu-sub {
    display: block;
}

/************************/

body.pc #menu-panel[data-main-back="true"] #menu-sub {
    display: block !important;
}
